name: conda packaging and deployment

on:
  workflow_dispatch:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          frozen: true
      - name: build and verify wheel
        shell: pixi run bash -e {0}
        run: |
          python -m build --wheel --no-isolation
          check-wheel-contents dist/mantidprofiler-*.whl

      - name: build conda package
        shell: pixi run bash -e {0}
        run: |
          # set up environment
          cd conda.recipe
          echo "versioningit $(versioningit ../)"
          # build the package - need experimental feature of loading data from pyproject.toml
          VERSION=$(versioningit ../) rattler-build build -c conda-forge -c mantid --experimental -r .
      - name: upload conda package to anaconda
        shell: pixi run bash -e {0}
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
          IS_RC: ${{ contains(github.ref, 'rc') }}
        run: |
          # label is main or rc depending on the tag-name
          CONDA_LABEL="main"
          if [ "${IS_RC}" = "true" ]; then CONDA_LABEL="rc"; fi
          echo pushing ${{ github.ref }} with label $CONDA_LABEL
          anaconda upload --label $CONDA_LABEL conda.recipe/output/noarch/mantidprofiler*.conda
